

body{

    margin: 0;
    padding: 0;
    background-color: rgb(27, 28, 30);
    color: azure;
}


.grid-container{

display: grid;
grid-template-areas: 
"header header"
"nav main"
"footer footer";
grid-template-columns: 10em 1fr;

}

header{

    grid-area: header;
    text-align: center;
    height: 3em;
    background-color: rgb(89, 9, 135);

}

.grid{


display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 1em;
align-items: stretch;

}

nav{

    grid-area: nav;
    background-color: rgb(2, 28, 28);
    color: azure;

}

main{

    grid-area: main;
    padding: 1%;
}

footer{

    grid-area: footer;
    text-align: center;
    height: 3em;
    background-color: rgb(135, 157, 157);
    color:rgb(21, 22, 22);
}

.card{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card a{

    text-decoration: none;
    background-color: blueviolet;
    color: white;
    width: 100%;
    text-align: center;
}

img{

    height: 60vh;
    width: 60vh;
    align-items: center;
    justify-content:center;

}   

ul {
    list-style: none;
    padding: 1;
    margin: 1;
}

h3{
    text-align: center;

}
